{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <form action="" method='POST' class="uniForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Submit</button>
    </form>

    {% for password in object_list  %}
        <ul>
            <li>{{password.username}}</li>
            <li>{{password.email}}</li>
            <li>{{password.password}}</li>
            <li><a href="{% url 'edit' password.id %}">Edit</a> <a href="{% url 'delete' password.id %}">Delete</a></li>

        </ul>
    {% endfor %}
{% endblock content %}